# 001
.local/share/backgrounds:
  type: archive
  url: http://{{ .assetServer }}:{{ .assetPort }}/backgrounds.tar.gz

.local/share/fonts:
  type: archive
  url: http://{{ .assetServer }}:{{ .assetPort }}/fonts.tar.gz

