# 001
.local/share/backgrounds:
  type: archive
  url: http://{{ .assetServer }}:{{ .assetPort }}/backgrounds.tar.gz

.local/share/fonts:
  type: archive
  url: http://{{ .assetServer }}:{{ .assetPort }}/fonts.tar.gz

.local/share/icons:
  type: archive
  url: http://{{ .assetServer }}:{{ .assetPort }}/icons.tar.gz

.local/bin:
  type: archive-file
  url: http://{{ .assetServer }}:{{ .assetPort }}/PerformanceTest_Linux_x86-64
  path: "PerformanceTest_Linux_x86-64" 
  executable: true
