{{- /* This template generates ~/.config/chezmoi/chezmoi.toml */ -}}

[data]
    assetServer = "192.168.2.78"
    assetPort = "8083"

[data.packages]
arch = [
    "eza", "bat", "vim", "fzf", "ripgrep", "fd", "tmux",
    "htop", "neovim", "zsh", "git", "btop", "zoxide",
    "fastfetch", "gping", "procs", "dust", "plocate",
    "zellij", "mc", "fuse2","glow",
,
]
"opensuse-tumbleweed" = [
    "eza", "bat", "vim", "fzf", "ripgrep", "fd", "tmux",
    "htop", "neovim", "zsh", "git", "btop", "zoxide",
    "gping", "procs", "fastfetch", "dust", "plocate",
    "zellij", "mc", "libfuse2","glow",
]
debian = [
    "bat", "vim", "fzf", "ripgrep", "fd-find", "tmux",
    "htop", "neovim", "zsh", "git", "btop", "zoxide",
    "fastfetch", "gping", "procs",
    "build-essential", "pkg-config", "libssl-dev",
    "plocate", "zellij", "mc", "libfuse2","glow",
]
ubuntu = [
    "bat", "vim", "fzf", "ripgrep", "fd-find", "tmux",
    "htop", "neovim", "zsh", "git", "btop", "zoxide",
    "fastfetch", "gping", "procs",
    "build-essential", "pkg-config", "libssl-dev",
    "locate", "zellij", "mc", "libfuse2t64","glow",
]
fedora = [
    "eza", "bat", "vim", "fzf", "ripgrep", "fd-find", "tmux",
    "htop", "neovim", "zsh", "git", "btop", "zoxide", "plocate",
    "fastfetch", "gping", "procs", "zellij", "mc", "fuse", "fuse-libs","glow",
]

[data.aur]
arch = ["lazygit-bin", "bottom-bin"]

[data.cargo]
debian  = ["eza", "du-dust"]
ubuntu  = ["eza", "du-dust"]
fedora  = ["du-dust"]

[data.symlinks]
debian = ["fdfind:fd"]
ubuntu = ["fdfind:fd"]

