#!/bin/env bash

set -e

dirs=(
  "${HOME}/.local/share/backgrounds"
  "${HOME}/.local/share/icons"
  "${HOME}/.local/share/themes"
  "${HOME}/.ssh"
  "${HOME}/Applications"
  "${HOME}/Git"
  "${HOME}/Media"
  "${HOME}/Music"
  "${HOME}/Pictures"
  "${HOME}/Projects"
  "${HOME}/Videos"
  "${HOME}/Work"
)

for dir in "${dirs[@]}"; do
  if [[ ! -d "$dir" ]]; then
    mkdir -p "$dir" || exit 1
  fi
done
