#!/bin/env bash

set -euo pipefail
mkdir -p "${HOME}/Applications"

# pCloud Client
if [[ ! -f "${HOME}/Applications/pCloud.AppImage" ]]; then
  curl -L -o "${HOME}/Applications/pCloud.AppImage" "https://def1.pcloud.com/cBZeyCak57Ztkt7yq7ZZZcHbI5kZ2ZZyV0ZkZ9KHBHZJgZCzZrLZeFZ94ZkLZHgZjgZr4Z6YZrFZmLZyQZoTZtwII5ZmGlR3DLVfuzeMSoGuwpc0jQYbJbV/pCloud.AppImage"
  chmod +x "${HOME}/Applications/pCloud.AppImage"
fi

